/* Tùy chỉnh Scrollbar biến mất (Minimalist) */
::-webkit-scrollbar {
    width: 6px;
    height: 6px;
}
::-webkit-scrollbar-track {
    background: transparent;
}
::-webkit-scrollbar-thumb {
    background: #333;
    border-radius: 10px;
}
.light ::-webkit-scrollbar-thumb {
    background: #ccc;
}
/* OLED Mode overrides - Đảm bảo nền đen tuyệt đối */
.oled body, .oled main, .oled header {
    background-color: #000000 !important;
}
.oled .bg-surface {
    background-color: #0a0a0a !important; /* Xám cực tối để nổi component */
}