@font-face {
    font-family: BeFont;
    src: url(/Asset/Font/Be_Vietnam_Pro/BeVietnamPro-Light.ttf);
}

@font-face {
    font-family: BeFontBold;
    src: url(/Asset/Font/Be_Vietnam_Pro/BeVietnamPro-Bold.ttf);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    transition: background-color 0.5s ease;
}

body {
    font-family: BeFont;
    background-color: #009762;
    color: var(--Text);

}

h1,
h2 {
    font-family: BeFontBold;
}

button {
    cursor: pointer;
}

img {
    display: block;
    max-width: 100%;
}

/* main {
    height: 100vh;
    display: flex;
    justify-content: center;
    flex-direction: column;
} */

.Card {
    background-color: #FEF0EB;
    margin: 10px;
    padding: 20px;
    border-radius: 10px;
}

.About {
    text-align: center;
}
.Setting {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.Setting img {
    height: 40px;
}

.Avatar {
    width: 250px;
    overflow: hidden;
    border-radius: 50%;
    background-image: linear-gradient(90deg, #009762, #7ed957);
    border: 5px solid #fff;
    margin: auto;
}

.Avatar img {
    width: 100%;
    display: block;
}

.Quote {
    margin: 30px 0 20px 0;
}

.QuoteIcon i {
    font-size: 30px;
}

.Download {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin: 10px 0 20px 0;
}

.Download button:first-child {
    background-color: transparent;
    color: #009762;
}

.Download button:first-child:hover {
    color: #fff;
    background-color: #009762;
    border: 2px solid #009762;
}

.Download button {
    font-size: 20px;
    padding: 10px;
    color: #fff;
    background-color: #009762;
    border: 2px solid #009762;
    border-radius: 10px;
}

.Download button:hover {
    background-color: transparent;
    color: #009762;
}

.Contact {
    background-color: #c3dbcc;
    padding: 10px;
    text-align: left;
    border-radius: 10px;
}

.Contact a {
    text-decoration: none;
    color: #000;
    margin: 10px 0;
}

.Contact p {
    font-size: 18px;
    margin: 10px 0;
}

.Footer {
    text-align: center;
}

.Footer a {
    text-decoration: none;
    color: #009762;
    margin: 10px 0;
    font-weight: bold;
}