@font-face {
    font-family: BeFont;
    src: url(/Asset/Font/Be_Vietnam_Pro/BeVietnamPro-Light.ttf);
}

@font-face {
    font-family: BeFontBold;
    src: url(/Asset/Font/Be_Vietnam_Pro/BeVietnamPro-Bold.ttf);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    transition: background-color 0.5s ease;
}

body {
    font-family: BeFont;
    background-color: #009762;
    color: var(--Text);

}

h1,
h2 {
    font-family: BeFontBold;
}

/* main {
    height: 100vh;
    display: flex;
    justify-content: center;
    flex-direction: column;
} */

.Card {
    background-color: #FEF0EB;
    margin: 10px;
    padding: 20px;
    border-radius: 10px;
}

.About {
    text-align: center;
}

.Avatar {
    width: 250px;
    overflow: hidden;
    border-radius: 50%;
    background-image: linear-gradient(90deg, #009762, #7ed957);
    border: 5px solid #fff;
    margin: auto;
}

.Avatar img {
    width: 100%;
    display: block;
}

.Quote {
    margin: 50px 0 20px 0;
}

.QuoteIcon i {
    font-size: 30px;
}

.Contact {
    background-color: #FFD8C7;
    padding: 10px;
    text-align: left;
    border-radius: 10px;
}

.Contact a {
    text-decoration: none;
    color: #000;
    margin: 10px 0;
}

.Contact p {
    font-size: 18px;
    margin: 10px 0;
}

.Footer {
    text-align: center;
}

.Footer a {
    text-decoration: none;
    color: #009762;
    margin: 10px 0;
    font-weight: bold;
}