@font-face {
    font-family: BeFont;
    src: url(/Asset/Font/Be_Vietnam_Pro/BeVietnamPro-Light.ttf);
}

@font-face {
    font-family: BeFontBold;
    src: url(/Asset/Font/Be_Vietnam_Pro/BeVietnamPro-Bold.ttf);
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    transition: background-color 0.5s ease;
}

body {
    font-family: BeFont;
    background-color: #009762;
    color: var(--Text);
}

body {
    transition: background-color 0.3s ease;
}

/* .light-theme {
    background-color: #009762;
    color: #000000;
}

.dark-theme {
    background-color: #009762;
    color: #ffffff;
} */

.Theme {
    cursor: pointer;
}

h1,
h2 {
    font-family: BeFontBold;
}

button {
    cursor: pointer;
}

img {
    display: block;
    max-width: 100%;
}

.container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 10px;
    min-height: 100vh;
}

.About {
    grid-column: 1 / 2;
    grid-row: 1 / 4;
}

.Footer {
    grid-column: 2 / 4;
}

/* Responsive styles for mobile devices */
@media (max-width: 768px) {
    .container {
        grid-template-columns: 1fr;
        /* Chuyển thành 1 cột */
        grid-template-rows: auto;
        /* Tự động chiều cao hàng */
    }

    .About {
        grid-column: 1;
        /* Đặt About vào cột đầu tiên */
        grid-row: 1;
        /* Đặt About vào hàng đầu tiên */
    }

    .Footer {
        grid-column: 1;
        /* Đặt Footer vào cột đầu tiên */
        grid-row: 0;
        /* Đặt Footer vào hàng thứ hai */
    }
}



.dark-theme {
    background-color: #121212;
    color: #cacaca;
}


.Card {
    background-color: #FEF0EB;
    margin: 10px;
    padding: 20px;
    border-radius: 10px;
}

.dark-theme .Card {
    background-color: #282828;
}

.About {
    text-align: center;
}

.Setting {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    margin: 10px 0;
}

.welcomeText {
    color: #fff;
    height: 30px;
    position: relative;
    background-color: #009762;
    padding: 5px 10px;
    border-radius: 20px;
    font-size: 16px;
    font-weight: bold;
    margin: auto;
}

.Setting img {
    cursor: pointer;
    height: 30px;
}

.Language {
    display: flex;
    align-items: center;
    gap: 5px;
}

.Dropbox {
    display: none;
    /* Ẩn theo mặc định */
    position: absolute;
    right: 0;
    /* Để dropdown xuất hiện bên dưới */
    margin-top: 10px;
    background-color: #c3dbcc;
    border-radius: 10px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    padding: 5px;
}

.Dropbox img {
    display: block;
    margin: 5px;
    cursor: pointer;
}

/* Hiển thị khi có class 'show' */
.Dropbox.show {
    display: block;
}


.Avatar {
    width: 250px;
    height: 250px;
    overflow: hidden;
    border-radius: 50%;
    background-image: linear-gradient(90deg, #009762, #7ed957);
    border: 5px solid #fff;
    margin: auto;
}

.Avatar img {
    width: 100%;
    display: block;
}


.Quote {
    margin: 30px 0 20px 0;
}

.QuoteIcon i {
    font-size: 30px;
}

.Download {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin: 10px 0 20px 0;
}

.Download button:first-child {
    background-color: transparent;
    color: #009762;
}

.Download button:first-child:hover {
    color: #fff;
    background-color: #009762;
    border: 2px solid #009762;
}

.Download button {
    max-height: 80px;
    font-size: 20px;
    padding: 10px;
    color: #fff;
    background-color: #009762;
    border: 2px solid #009762;
    border-radius: 10px;
}

.Download button:hover {
    background-color: transparent;
    color: #009762;
}

.Contact {
    background-color: #c3dbcc;
    padding: 10px;
    text-align: left;
    border-radius: 10px;
}

.dark-theme .Contact {
    color: #cacaca;
    background-color: #1d1d1d;
}

.Contact a {
    text-decoration: none;
    color: #000;
    margin: 10px 0;
}

.dark-theme .Contact a {
    color: #cacaca;
}

.Contact p {
    font-size: 18px;
    margin: 10px 0;
}

.Footer {
    text-align: center;
}

.Footer a {
    text-decoration: none;
    color: #009762;
    margin: 10px 0;
    font-weight: bold;
}