/* ===== FONTS ===== */
@font-face {
  font-family: 'BeVietnamPro';
  src: url(/DATA/Font/Be_Vietnam_Pro/BeVietnamPro-Light.ttf);
  font-weight: 300;
  font-display: swap;
}

@font-face {
  font-family: 'BeVietnamPro';
  src: url(/DATA/Font/Be_Vietnam_Pro/BeVietnamPro-Regular.ttf);
  font-weight: 400;
  font-display: swap;
}

@font-face {
  font-family: 'BeVietnamPro';
  src: url(/DATA/Font/Be_Vietnam_Pro/BeVietnamPro-Medium.ttf);
  font-weight: 500;
  font-display: swap;
}

@font-face {
  font-family: 'BeVietnamPro';
  src: url(/DATA/Font/Be_Vietnam_Pro/BeVietnamPro-Bold.ttf);
  font-weight: 700;
  font-display: swap;
}

/* Các style tùy chỉnh nhỏ không thể thay thế bằng Tailwind hoặc để tương thích ngược */
.modal-container {
  background-color: rgba(0, 0, 0, 0.9);
}